Pods/
.DS_Store
GoogleService-Info.plist
*/GoogleService-Info.plist
UserInterfaceState.xcuserstate
xcdebugger
xcschememanagement.plist

# API Keys
Secrets.xcconfig

# Firebase Functions
functions/node_modules/
functions/.secret.local
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebase/
